# Entornos virtuales
venv/
env/
myenv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Modelos pesados
*.pkl
*.h5
*.pt

# Datos (IMPORTANTE)
data/*.csv
data/*.parquet
data/*.json

# PERO NO ignorar DVC metadata
!*.dvc

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db